In [35]:
import pandas as pd

In [36]:
columns = "country 2019".split()
income = pd.read_csv("income_per_person_gdppercapita_ppp_inflation_adjusted.csv", usecols=columns)
income.rename(columns={"2019": "gdp"}, inplace=True)
income["gdp"] = income["gdp"].str.strip("k")
income["gdp"] = income["gdp"].astype("float") * 1_000

In [37]:
life_expectancy = pd.read_csv("life_expectancy_years.csv", usecols=columns).rename(columns={"2019": "life_expectancy_years"})
life_expectancy

                  country  life_expectancy_years
0             Afghanistan                   63.3
1                  Angola                   65.1
2                 Albania                   78.5
3                 Andorra                   82.2
4    United Arab Emirates                   73.9
..                    ...                    ...
190                 Samoa                   70.5
191                 Yemen                   67.7
192          South Africa                   65.1
193                Zambia                   63.2
194              Zimbabwe                   61.0

[195 rows x 2 columns]

In [38]:
income_life_expectancy = income.set_index("country").join(life_expectancy.set_index("country"))
income_life_expectancy.loc["Poland"]

gdp                      33200.0
life_expectancy_years       78.1
Name: Poland, dtype: float64

In [44]:
for _, row in income_life_expectancy.iterrows():
    print(row)
    break

gdp                      2070000.0
life_expectancy_years         63.3
Name: Afghanistan, dtype: float64

In [45]:
income_life_expectancy["assignment"] = None

In [46]:
income_life_expectancy

                            gdp  life_expectancy_years assignment
country
Afghanistan           2070000.0                   63.3       None
Angola                6670000.0                   65.1       None
Albania                 13700.0                   78.5       None
Andorra                 58400.0                   82.2       None
United Arab Emirates    68300.0                   73.9       None
...                         ...                    ...        ...
Samoa                 6630000.0                   70.5       None
Yemen                 2630000.0                   67.7       None
South Africa            13700.0                   65.1       None
Zambia                3470000.0                   63.2       None
Zimbabwe              3630000.0                   61.0       None

[195 rows x 3 columns]